/* CSS Reset styles */

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
  background: url(background.png) top left repeat-x;
  margin: 0px;
  font-family: Arial,Helvetica,sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/* Application styles */

div#container {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 1000px;
  background: url(curtains.png) top left no-repeat;
  background-color: #000000;
  padding-bottom: 24px;
}

div#main {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 800px;
}

div#header {
  height: 120px;
}

div.headerTitle {
  font-size: 24px;
  font-weight: bold;
  float: left;
  margin-top: 30px;
  margin-left: 8px;
}

div.headerSearch {
  color: #ffffff;
  float: right;
  margin-top: 30px;
}

div#easterEgg {
  position: relative;
  top: 6px;
  left: 320px;
  height: 16px;
  width: 150px;
}

div#rawr {
  position: relative;
  display: none;
  width: 542px;
  height: 544px;
  top: 42px;
  left: 140px;
  background: url(rawr.png) top left no-repeat; 
  z-index: 1;
}

div#menu {
  background: url(menu_bg.png) top left repeat-x;
  height: 32px;
  position: relative;
  z-index: 0;
}

div.menuItem {
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 32px;
}

div.menuItem a, div.menuItem a:visited {
  padding-top: 10px;
  display: block;
  height: 22px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;  
  width: 98px;  
  color: #ffffff;
}

div.menuItem a:hover {
  padding-top: 10px;
  display: block;
  height: 22px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;    
  width: 98px;
  color: #ffffff;
  background: url(menu_highlight.png) top left repeat-x;
}

div#menuItem1 {
  left: 0px;
}

div#menuItem2 {
  left: 100px;
}

div#menuItem3 {
  left: 200px;
}

div#menuItem4 {
  left: 300px;
}

div#menuItem5 {
  left: 400px;
}

div#menuItem6 {
  left: 500px;
}

div#menuItem7 {
  left: 600px;
}

div#menuItem8 {
  left: 700px;
}

div#content {
  background-color: #ffffff;
  height: 100%;
  padding: 4px 8px 6px 8px;
  font-size: 80%;
}

div#plainContent {
  height: 100%;
  padding: 0px;
}

div.sectionContainer {
  clear: both;
  margin-top: 4px;
  border-top: 1px solid #fbd222; 
  padding: 4px 4px 4px 4px;
}

div.sectionName {
  font-weight: bold; 
  float: left;
  width: 30px;
}

div.sectionDescription {  
  margin-left: 8px;
  float: left; 
  width: 200px;
}

div.sectionAvailability {
  margin-left: 8px;
  float: left; 
}

div.pricing {
  float: right; 
}

span.ticketCat {
  width: 100px; 
  font-weight: bold;
  display: inline-block;
  padding: 2px;
}

span.ticketPrice {
  width: 80px; 
  display: inline-block;
  padding: 2px;
}

div.buttonRow {
  clear: both;
  border-top: 2px solid #fbd222;
  margin: 2px 0px 6px 0px;
  padding: 4px 8px 8px 8px;
}

div.buttonRight {
  float: right; 
}

div.buttonLeft {
  float: left;
}

table#ticketSelection {
  width: 400px;
}

table#ticketSelection tr.even {
  background-color: #f6edc6;
}

div#availability {
  float: right; 
  background-color: #f6edc6;
  color: #0000aa;
  width: 300px;
}

div#availabilityHeader {
  color: #0000aa;
  background: url(sectionheader_bg.png) top left repeat-x;  
  font-weight: bold;
  padding: 4px;
}

div#ticketAvailability {
  background-color: #f6edc6;
  padding: 4px;
}

div.availabilityRow {
  padding: 4px; 
}

div.availabilityRow label {
  width: 80px;
  display: inline-block;
  font-weight: bold;
}

div.section {
  background-color: #ffffff;  
  font-size: 80%;  
}

div.sectionContent {
  padding: 2px 8px 8px 8px;
}

div.sectionHeader {
  font-weight: bold;
  font-size: 120%; 
  height: 30px;
  padding-top: 6px;
  padding-left: 6px;
  margin: 0px;
  color: #0000aa;
  background: url(sectionheader_bg.png) top left repeat-x;
}

tr.header {
  color: #0000aa;
  background: url(sectionheader_bg.png) top left repeat-x;
}

tr.header th {
  text-align: left; 
}
