<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         metadata-complete="true">

  <display-name>Ticket Monster</display-name>
  	<context-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>classpath:/META-INF/spring/ticketmonster-business-context.xml,
              classpath:/META-INF/spring/infrastructure.xml,
              classpath:/META-INF/spring/bookingState.xml</param-value>
  	</context-param>
  	
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <servlet>
  	<servlet-name>TicketMonster</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/ticketmonster-mvc-context.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>TicketMonster</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>events.jsp</welcome-file>
  	<welcome-file>eventDetails.jsp</welcome-file>
  	<welcome-file>venues.jsp</welcome-file>
  	<welcome-file>venueDetails.jsp</welcome-file>
  	<welcome-file>include.jsp</welcome-file>
  	<welcome-file>showDetails.jsp</welcome-file>
  </welcome-file-list>

   <persistence-context-ref>
       <persistence-context-ref-name>persistence/TicketMonster/entityManager</persistence-context-ref-name>
       <persistence-unit-name>ticketmonsterPU</persistence-unit-name>
   </persistence-context-ref>
</web-app>
